# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IDEA project\server_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
